{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h2>Привет, я Андрей Янковский</h2>
<h5> Студент Яндекс Практикума по направлению Python разработчик</h5>
<article>
  <p>
    Меня вдохновляет процесс обучения и написания кода, видеть как из обычных строк получается целая программа.
  </p>
  <ul>
    <h2>Контактная информация</h2>
    <li>Телефон: +7 921-950-19-11</li>
    <li>Email: tiamoon@yandex.ru</li>
    <li><a href="https://vk.com/yonvik">VK</a></li>
    <li><a href="https://github.com/yonvik">GitHub </a></li>
  </ul>
</article>
{% endblock %} 
