{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.username }} {% endblock title %}
{% block content %}
  <div class="mb-5"> 
    <h1>Все посты пользователя {{ author.username }} </h1>
    <h3>Всего постов:  {{author.posts.count}}</h3>
    <h3>Подписки  {{author.follower.count}}</h3>
    <h3>Подписчики  {{author.following.count}}</h3>
    {% if request.user != author and request.user.is_authenticated %}
      <a class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}"
        role="button">Отписаться</a>
    {% else %}
      <a class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}"
        role="button">Подписаться</a>
    {% endif %}
    {% for post in page_obj %}
      <article>
        {% include 'includes/body.html'%}
        {% for comment in post.comments.all %}
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="mt-0">
                <a href="{% url 'posts:profile' comment.author.username %}">
                  {{ comment.author.username }}
                </a>
              </h5>
              <p>{{ comment.text|linebreaksbr }}</p>
            </div>
          </div>
        {% endfor %} 
        <a href="{% url 'posts:post_detail' post.id%}">подробная информация</a>
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ post.group.description }}</a>
        {% endif %}
      {% if not forloop.last%}<hr>{%endif%}
    {% endfor %}
  {% include 'posts/includes/paginator.html' %} 
{% endblock content %}
